/*
  kchui.dev
  about-me.css
*/

#about-me_table tr td {
  padding: 1.4rem 0 0 0;
}
#about-me_table .labels {
  width: 20%;
  vertical-align: top;
}
#about-me_table .values {
  vertical-align: top;
}
@media ( max-width: 576px ) {
  #about-me_table .labels {
    width: 40%;
  }
}