/*
  kchui.dev
  japanese-vocabulator.css
*/

/* review */
#review {
  position: relative;
  background-color: #CCCCCC;
  padding: 20px;
  margin: 20px 4px;
  min-height: 100px;
  user-select: none;
}
#description {
  text-align: center;
  color: #333333;
}
.entry_details {
  margin: 4px 0;
  color: #333333;
}
.entry_details .values {
  user-select: auto;
}
/* kaki-jun */
#display_order {
  position: relative;
  text-align: center;
  background-color: #FFFFFF;
}
kaki-jun {
  padding-top: 1rem;
  cursor: pointer;
}
#display_order svg g {
  stroke: #333333;
  stroke-width: 3;
}
#display_order svg g text {
  stroke: #666666;
  stroke-width: 1;
}
#display_order_image {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 2rem;
  user-select: none;
}
#remove_button_container {
  margin: 0.6rem 0;
}
button[name="remove"] {
  font-size: 0.8rem;
  background-color: #992600;
  user-select: none;
}
button[name="remove"]:hover {
  background-color: #FF531A;
}
button[disabled] {
  background-color: #B3B3B3 !important;
  cursor: not-allowed !important;
}
#list_heading {
  color: #333333;
  font-size: 1rem;
  margin: 0.2rem;
}
#filter_heading {
  color: #333333;
  font-size: 0.8rem;
  margin: 0.2rem;
}
.filter_labels, .filter_labels:focus-within {
  color: #333333;
}
#entry_list {
  margin: 0.4rem 0;
}
.entries {
  position: relative;
  color: #333333;
  padding: 0.2rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-family-regular);
  border: 2px solid #A6A6A6;
  cursor: pointer;
}
.entries:hover, .entries.selected {
  color: #FFFFFF;
  background-color: #333333;
  border-color: #333333;
}

/* input */
.input_containers {
  position: relative;
  margin: 4px;
  user-select: none;
}
input[type="text"], select[name="input_type"] {
  width: 100%;
  height: 100%;
  max-height: 44px;
  border-radius: 4px;
  font-size: 1rem;
  background: transparent;
  border: 1px solid #B3B3B3;
  color: #FFFFFF;
  padding: 0.5rem;
  font-family: var(--font-family-regular);
  height: 100%;
  max-height: 44px;
}
select[name="input_type"] {
  font-size: 0.9rem;
}
input[type="text"]:focus-visible {
  outline: none;
  border: 1px solid #FFFFFF;
}
label {
  font-size: 14px;
  color: #B3B3B3;
}
label:focus-within {
  color: #FFFFFF;
}
label.error:focus-within {
  color: #FF6633 !important;
}
label.error > input {
  border-color: #FF6633 !important;
}
.button_containers {
  height: initial;
  margin: 8px;
}
button[name="register"], button[name="export"], button[name="import"], button[name="instructions"] {
  width: 100%;
  height: 100%;
  /* max-height: 44px; */
  padding: 6px;
  user-select: none;
}
button[name="register"] {
  margin-top: 12px;
}
button[name="export"] {
  background-color: #00B3B3;
}
button[name="export"]:hover {
  background-color: #00E6E6;
}
button[name="import"] {
  background-color: #59B300;
}
button[name="import"]:hover {
  background-color: #73E600;
}
button[name="instructions"] {
  background-color: #B3B300;
}
button[name="instructions"]:hover {
  background-color: #E6E600;
}
#input_import_file {
  display: none;
}

/* attribution */
.notes {
  margin: 1rem 0;
}

/* instructions */
#instructions_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0.95;
  z-index: 12;
}
#instructions_headings {
  font-size: 1rem;
  margin: 0.2rem;
  text-align: center;
}
#instructions {
  font-size: 0.9rem;
  background-color: var(--colour-background-content);
  color: #FFFFFF;
  width: 50%;
  max-height: 80vh;
  overflow: auto;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  z-index: 4;
}
.instructions_images {
  display: block;
  margin: auto;
  user-select: none;
}
.max-width_40percent {
  max-width: 40%;
}
.instructions_button_containers {
  margin: 0.2rem;
  text-align: right;
}
.instructions_buttons {
  font-size: 0.9rem;
  user-select: none;
}
@media ( max-width: 768px ) {
  #instructions {
    width: 90%;
  }
}
body.instructions_shown {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}