/*
  kchui.dev
  matching-pairs.css
*/

#matching-pairs {
  width: 360px;
  margin: auto;
}
#matching-pairs .cards_row {
  margin: 16px 0;
}
#matching-pairs .cards {
  width: 100%;
  max-width: 70px;
  height: 80px;
  margin: 0 8px;
  cursor: pointer;
  perspective: 1000px;
}
#matching-pairs .cards_sides {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
#matching-pairs .cards:hover .cards_sides {
  transform: rotateY(40deg);
}
#matching-pairs .cards.chosen .cards_sides, #matching-pairs .cards.cleared .cards_sides {
  transform: rotateY(180deg);
}
#matching-pairs .cards.deactivated {
  cursor: not-allowed;
}
#matching-pairs .cards_front, #matching-pairs .cards_back {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#matching-pairs .cards_front {
  background-color: #00B377;
  font-size: 20px;
  font-weight: 700;
  padding-top: 40%;
}
#matching-pairs .cards_back {
  background-color: #DF921F;
  font-size: 40px;
  padding-top: 20%;
  transform: rotateY(180deg);
}