/*
  kchui.dev
  omikuji.css
*/
#result {
  margin-bottom: 20px;
}
#result_container {
  max-width: 480px;
  margin: auto;
  text-align: center;
}
input#omikuji_number {
  width: 100%;
  max-width: 400%;
  font-size: 128px;
  padding: 40px 0;
  text-align: center;
  font-family: var(--font-family-regular);
  color: #FFFFFF;
  background-color: var(--colour-background-header);
  border: none;
  user-select: none;
}
#button {
  margin-top: 20px;
}
#button_container {
  max-width: 480px;
  margin: auto;
}
button#draw {
  width: 100%;
}