/*
  kchui.dev
  side-projects.css
*/

.side-projects_titles {
  font-size: 1.2rem;
  font-family: var(--font-family-medium);
}
@media ( max-width: 768px ) {
  .side-projects_titles {
    text-align: center;
  }
}